**/volumes/data
**/volumes/logs
**/volumes/extensions
**/**/.DS_Store
**/fineract/**
**/volumes/config/syncope/core/domains/.DS_Store
volumes/config/syncope/core/.DS_Store
volumes/config/syncope/.DS_Store
volumes/config/syncope/wa/saml/services/sonarqube/sonarqube*


!gitlab/volumes/config/**
!karaf/volumes/config/**
!sonarqube/volumes/config/sonarqube/**
!sonarqube/volumes/config/syncope/**
!sonarqube/volumes/config/nginx/**